@import "tailwindcss";

.pt-robo-regular {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.pt-robo-bold {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-style: normal;
}